
/*
 * Make tables "expand" instead of shrinking to minimum size
 */

.md-typeset__table {
    width: 100%;
}

.md-typeset__table table {
    width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
}

/* Full screen width */
/* @media only screen and (min-width: 76.25em) {
    .md-main__inner {
        max-width: none;
    }
    .md-sidebar--primary {
        left: 0;
    }
    .md-sidebar--secondary {
        right: 0;
        margin-left: 0;
        -webkit-transform: none;
        transform: none;   
    }
} */